
        {% extends 'layout.html' %}
        {% block content %}
        
        
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Category Management</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
          </div>
        
        
        <div class="container1">
                    
        
                <table id="customers">
            <tr>
                <th>Courses</th>
                <th>Organisation</th>
               
            </tr>
            {% for student in dataa %}
            <tr>
                <td style="color: black">{{ student.courses.name }}</td>
                <td><a href="{% url 'organi' student.id%}"><button type="submit" >click to organisation</button></a></td>
            </tr>
            {% endfor %}
        </table>
      
        {% endblock %}

    