
        {% extends 'layout.html' %}
        {% block content %}
        
        
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Category Management</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
          </div>
        
        
        <div class="container1">
                    
        
                <table id="customers">
            <tr>
                <th>parentids</th>
               
            </tr>
            {% for category in dataa %}
            <tr>
                <td style="color: black">{{ category.title}}</td>
                
            </tr>
            {% endfor %}
        </table>
      
        {% endblock %}

    