{% extends 'layout.html' %}

{% block content %}

<div class="section-header text-center">
  <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Organisation management</h2>
  <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
</div>


<div class="container1">
          
  
  <table id="customers">
    <tr>
        <th>Courses</th>
        
        <!-- <th>ADD Courses</th> -->
        <!-- <th>Update</th> -->
       
    </tr>
    {% for organis in orgg %}
    <tr>
        <td style="color: black">{{ organis.name }}</td>
        <!-- <td><a href="{% url 'cor' %}"><button type="submit" >Add courses</button></a></td> -->
        
       
    </tr>
    
    {% endfor %}
</table>


{% endblock %}